@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Math&display=swap');
* {
    margin: 0;
    padding: 0;

    font-family: 'Montserrat';
    color: white;
}

.specialLetter {
    font-size: 125%;
}

.--math {
    font-family: 'noto sans math';
}

.custom-head {
    color: white;
    opacity: 90%;
}

.mainRow > *:not(:first-child) {
    margin-top: 2.5rem;
}

body {
    background-color: var(--bs-body-color);
    height: 100vh;
}

.mainContainer {
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container--modifier {
    margin: 0;
    min-height: 100%;
    min-width: 100%;
}

#display {
    border: 5px solid var(--bs-dark-border-subtle);
    border-radius: 5%;
    cursor: grab;
    background: linear-gradient(rgba(0, 200, 255, 0.162), rgba(0, 200, 255, 0.162)), url("./repeated-square.png");
    background-size: 80%;
    background-repeat: repeat;
}

.checkbox--custom > *:not(:first-child) {
    margin-left: 1rem;
}

.btn-custom {
    width: 70%;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
}