body {
    overflow: hidden;
}

.navigator-btn {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    right: 0.5rem;
    top: 0.5rem;
    overflow: hidden;

    border-radius: 100%;
    z-index: 11;
}

.navigator-btn-inside {
    width: 100%;
    height: 100%;
    background-color: var(--bs-info);
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color;
    transition-duration: 0.2s;
}

.navigator-btn:hover .navigator-btn-inside {
    cursor: pointer;
}

.navigator-expanded-disabled {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    right: 0.5rem;
    top: 0.5rem;
    overflow: hidden;

    border-radius: 100%;

    transition: transform;
    transition-duration: 0.5s;
    z-index: 9;

    background-color: var(--bs-info);
}


.navigator-expanded-enabled {
    transform: scale(80);
}

.disabled {
    display: none !important;
}

.level-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 0 5rem;
    overflow-x: hidden;
    overflow-y: hidden;
}

.level-menu h1 {
    font-weight: bold;
}

.img-container {
    width: 70%;
    height: 10rem;
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 6px solid var(--bs-light-border-subtle);
    border-radius: 5px;
}

.img-container img {
    object-fit: cover;
}

.level-menu button {
    width: 50%;
}

.level-menu h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.level-menu-row {
    row-gap: 5rem;
    padding: 5rem 0;
    overflow-y: scroll;
    height: 80%;
    border-radius: 10px;
    border: 3px solid var(--bs-info-border-subtle);
}

.smallAnim {
    animation-name: scaleAnim;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

@keyframes scaleAnim {
    0% {
        transform: translate(50%, -100%);
    }
    100% {
        transform: translate(0, 0);
    }
}

.level-menu-row::-webkit-scrollbar {
    width: 16px;
}
  
.level-menu-row::-webkit-scrollbar-track {
    background-color: var(--bs-info);
    border-radius: 100px;
}

.level-menu-row::-webkit-scrollbar-thumb {
    background-color: var(--bs-info-border-subtle);
    border-radius: 100px;
}

